.navbar {
    background-color: aqua;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display:inline-block;
}

html {
    font-size:14px;
}

body {
    font-size:100%;
    
}

.header {
    
    width: 100%;
    padding: 10em 0;
    background-color: #900b;
    background-image: url(../img/cat.jpg);
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: hsla(49, 50%, 30%, 0.8);
}
a{
    text-decoration: none;
    color:red;
    background-color: green;
    font-size:1.5em;
}

